<h1> Generated Words </h1> 

<%= link_to 'Home', controller: 'welcome'  %>
<main> 
    <table> 
        <tr> 
            <th>Title</th> 
            <th>Text</th>
            <th></th> 
        </tr> 

        <% @products.each do |product| %> 
            <tr> 
                <td> <%= product.title %> </td> 
                <td> <%= product.text %> </td> 
                <td> <%= link_to 'Show', product_path(product) %> </td> 
                <td> <%= link_to 'Edit', edit_product_path(product) %> </td> 
                <td> <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
                
            </tr> 
            <% end %> 
    </table> 
</main> 

